<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-modal-content w3-card-4 w3-display-middle" style="max-width:600px">
        <div class="w3-center">
            <h4 th:text="#{login.ask}">ask</h4>
        </div>

        <form class="w3-container" th:action="@{/login}" method="post">
            <div class="w3-section">

                <p th:if="${loginError}" class="error" style="color:red" th:text="#{login.error}">Error</p>

                <label for="username" th:text="#{client.email}"><b>Email</b></label>
                <input class="w3-input w3-border w3-margin-bottom" type="text" id="username"
                       th:placeholder="#{client.email.placeholder}" name="username" autofocus="autofocus" required>

                <label for="password" th:text="#{client.password}"><b>Password</b></label>
                <input class="w3-input w3-border" id="password" type="password" th:placeholder="#{client.password.placeholder}" name="password" required>

                <br>

                <input class="w3-check" id="remember" type="checkbox" name="remember-me">
                <label for="remember" th:text="#{client.remember}"><b>REMEMBER</b></label>

                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit" th:text="#{login}">Login</button>
            </div>
        </form>

    </div>
</body>
</html>