<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <title th:text="#{admin.title}">Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
    <div class="w3-container w3-green">
        <h2 th:text="#{admin.title}">Admin</h2>
    </div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{admin/addTelephoneService}" th:text="#{admin.add.service}">Add service</a>
    </p></div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{admin/viewTelephoneService}" th:text="#{admin.view.service}">View service</a>
    </p></div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{addUser}">Add user</a>
    </p></div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{viewUser}">View User</a>
    </p></div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{/}">View User</a>
    </p></div>
</div>
</body>
</html>