<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <title th:text="#{client.title}">Client page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container">
    <div class="w3-container w3-green">
        <h2 th:text="#{client.title}">Client</h2>
    </div>
    <br>
<!--    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
<!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
<!--    </div>-->
<!--    <br>-->
<!--    <div th:text="${#authentication.name}">-->
<!--        The value of the "name" property of the authentication object should appear here.-->
<!--    </div>-->
<!--    <br>-->
<!--    <div sec:authentication="name">-->
<!--        The value of the "name" property of the authentication object should appear here.-->
<!--    </div>-->
<!--    <br>-->
<!--    <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
<!--    </div>-->
<!--    <br>-->

    <div class="w3-panel w3-card-4 w3-green">

        <p th:text="${client.firstName}">first name</p>
        <p th:text="${client.secondName}">second name</p>
        <p th:text="#{client.account}"></p>
        <h4 th:text="${client.account.amount}">account</h4>
        <p th:text="#{client.status}"></p>
        <div style="color:blue" th:if="${client.active}" th:text="#{client.status.active}"></div>
        <div style="color:red" th:unless="${client.active}" th:text="#{client.status.blocked}"></div>


    </div>

    <br>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{client/payment}" th:text="#{client.payment}">Payment</a>
    </p></div>

    <div class="w3-panel w3-border w3-round-xxlarge"><p>
        <a th:href="@{client/viewClientService}" th:text="#{client.view.service}">View service</a>
    </p></div>

</div>
<br>
<br>

<div class="w3-bar w3-green"><p>
    <a class="w3-bar-item w3-large w3-button" th:href="@{/}" th:text="#{index.page}">Main page</a>
</p></div>
</body>
</html>