<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <title th:text="#{admin.title}">Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="~{Navbar::HeadNav}"></div>

<div class="w3-container">
    <div class="w3-container w3-green">
        <h2 th:text="#{title}">title</h2>
    </div>

    <div class="w3-panel w3-border w3-round-xxlarge">
        <p>
            <a th:href="@{/client}" th:text="#{client.title}">client</a>
        </p>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="w3-panel w3-border w3-round-xxlarge">
            <p>
                <a th:href="@{/admin}" th:text="#{admin.title}">admin</a>
            </p>
        </div>
    </div>
    <br>

    <!--    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">-->
    <!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
    <!--    </div>-->
    <!--    <br>-->
    <!--    <div th:text="${#authentication.name}">-->
    <!--        The value of the "name" property of the authentication object should appear here.-->
    <!--    </div>-->
    <!--    <br>-->
    <!--    <div sec:authentication="name">-->
    <!--        The value of the "name" property of the authentication object should appear here.-->
    <!--    </div>-->
    <!--    <br>-->
    <!--    <div sec:authorize="hasRole('ROLE_ADMIN')">-->
    <!--        This will only be displayed if authenticated user has role ROLE_ADMIN.-->
    <!--    </div>-->
    <!--    <br>-->

<!--    login only for non authorized-->
    <div sec:authorize="!isAuthenticated()">
        <div class="w3-panel w3-border w3-round-xxlarge">
            <p>
                <a th:href="@{/login}" th:text="#{login}">come in</a>
            </p>
        </div>
    </div>
<!--    logout only for authorized-->
    <div sec:authorize="isAuthenticated()">
        <div class="w3-panel w3-border w3-round-xxlarge">
            <p>
                <a th:href="@{/logout}" th:text="#{logout}">go out</a>
            </p>
        </div>
    </div>

</div>
</body>
</html>