<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="#{title}">Payload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:fragment="HeadNav">
    <nav class="w3-bar w3-light-grey">
        <!--            locale-->
            <a th:href="@{'?locale=ru'}" class="w3-bar-item w3-button" th:text="#{language.ru}">ru</a>
            <a th:href="@{'?locale=en'}" class="w3-bar-item w3-button w3-border-right" th:text="#{language.en}">en</a>

        <!--            main page-->
            <a th:href="@{/}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-green" th:text="#{main}">main</a>
        <!--            client-->
            <a th:href="@{/client}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-green" th:text="#{client.title}">client</a>
        <!-- show only for ADMIN-->
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-green" th:text="#{admin.title}">admin</a>
        </div>
        <!--            init-->
            <a th:href="@{/init}" class="w3-bar-item w3-button w3-hover-none w3-border-white w3-bottombar w3-hover-border-green" th:text="#{init}">init</a>


        <!--show only has no authentication-->
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="w3-bar-item w3-button w3-right" th:text="#{login}">log<i class="fa fa-sign-in"></i></a>
        </div>
        <!--show only has authentication-->
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" class="w3-bar-item w3-button w3-right" th:text="#{logout}">log<i class="fa fa-sign-out"></i></a>
        </div>

<!--            <div class="w3-dropdown-click">-->
<!--                <button class="w3-button" onclick="myFunction()">-->
<!--                    Dropdown <i class="fa fa-caret-down"></i>-->
<!--                </button>-->
<!--                <div id="demo" class="w3-dropdown-content w3-bar-block w3-card">-->
<!--                    <a href="#" class="w3-bar-item w3-button">Link 1</a>-->
<!--                    <a href="#" class="w3-bar-item w3-button">Link 2</a>-->
<!--                    <a href="#" class="w3-bar-item w3-button">Link 3</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <script>
            function myFunction() {
                  var x = document.getElementById("demo");
                  if (x.className.indexOf("w3-show") == -1) {
                  x.className += " w3-show";
                     } else {
                  x.className = x.className.replace(" w3-show", "");
                  }
            }
        </script>
    </nav>
</div>
</body>
</html>