<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--  NAME  -->
ФИО:
Адрес:
Телефон:
Email:
<br>
<!--  COUNT bill -->
Депозит:
<br>
<!--  PAY  -->
<a th:href="@{/pay}">Оплатить</a>


<!--  SERVICE's  -->
<br>
Заказанные услуги:
тип-------------------------------------наименование------------------------------стоимость <br>
периодическая/разовая            Абонементная плата за телефон                    руб <br>

<!--  BUY new SERVICE -->
<br>
<a th:href="@{/service}">Заказать сервис</a>


</body>
</html>