<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="#{service.add.title}">Add new telephone service</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-container">
    <table>
        <div class="w3-container w3-green">
            <h2 th:text="#{client.view.title}">View and edit</h2>
        </div>
        <tr>
            <th th:text="#{client.firstName}">SERVICE NAME </th>
            <th th:text="#{client.secondName}">SERVICE DESCRIPTION </th>
            <th th:text="#{client.email}">SERVICE PRICE </th>
            <th th:text="#{client.count}">ACCOUNT </th>
            <th th:text="#{client.status}">STATUS </th>
            <th th:edit="#{client.edit}">EDIT </th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.firstName}">FIRST NAME</td>
            <td th:text="${client.secondName}">SECOND NAME</td>
            <td th:text="${client.email}">EMAIL</td>
            <td th:text="${client.accountId}">ACCOUNT</td>
            <td>STATUS
                <div th:if="${client.active}" th:text="#{client.status.active}">ACTIVE</div>
                <div th:unless="${client.active}" th:text="#{client.status.blocked}">BLOCKED</div>
            </td>
            <td>
                <a th:href="@{editClient/{id}(id=${client.getId()})}" th:text="#{button.edit}">Edit</a>
            </td>
        </tr>
    </table>
    <br>

    <div class="w3-bar w3-green"><p>
        <a class="w3-bar-item w3-large w3-button" th:href="@{/admin}" th:text="#{admin.title}">Admin page</a>
        <a class="w3-bar-item w3-large w3-button" th:href="@{/}" th:text="#{index.page}">Main page</a>
    </p></div>

</div>

</body>
</html>