<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="#{service.add.title}">Add new telephone service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>

<div th:replace="~{Navbar::HeadNav}"></div>

<div class="w3-container" >
    <table>
        <div class="w3-container w3-green">
            <h2 th:text="#{service.view.title}">View and edit</h2>
        </div>
        <tr>
            <th th:text="#{service.name}">SERVICE NAME</th>
            <th th:text="#{service.description}">SERVICE DESCRIPTION</th>
            <th th:text="#{service.cost}">SERVICE PRICE</th>
            <th th:text="#{button.edit}">EDIT</th>
        </tr>
        <tr th:each="service : ${services}">
            <td th:text="${service.name}">NAME</td>
            <td th:text="${service.description.substring(0,9)}">DESCRIPTION</td>
            <td th:text="${service.cost}">COST</td>
            <td>
                <a th:href="@{editService/{id}(id=${service.getId()})}" th:text="#{button.edit}">Edit</a>
            </td>
        </tr>
    </table>
    <br>

</div>
</body>
</html>