<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="#{client.edit.title}">Add new telephone service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <div th:replace="~{Navbar::HeadNav}"></div>

    <div class="w3-container">
        <div class="w3-card-4">
            <div class="w3-container w3-green">
                <h2 th:text="#{admin.editClient.changePassword}">Client</h2>
            </div>
        </div>
    </div>

    <form th:action="@{/admin/editClient/changePassword/{id}(id=${clientId})}"
          class="w3-container"
          th:method="PATCH"
          th:object="${pass}">

        <p class="w3-row w3-section">
            <input class="w3-input" type="text" id="password" name="pass">
            <label for="password" th:text="#{client.password}">Client password</label>
        </p>

        <button class="w3-button w3-round-xlarge w3-green" type="submit" th:text="#{button.save}">Save</button>
    </form>
</body>
</html>