<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title th:text="#{service.edit.title}">Add new telephone service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div th:replace="~{fragment/Navbar::HeadNav}"></div>

<div class="w3-container">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2 th:text="#{service.edit.title}">Service</h2>
        </div>


        <form th:action="@{/admin/patchTelephoneService/{id}(id=${service.getId()})}"
              class="w3-container"
              th:method="PATCH"
              th:object="${service}">

            <p class="w3-row w3-section">
                <input class="w3-input" type="text" id="serviceName" th:field="*{name}">
                <label for="serviceName" th:text="#{service.name}">Telephone service name</label>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:text="#{service.name.error}">Name Error
            </div>
            </p>

            <p class="w3-row w3-section">
                <textarea class="w3-input" id="description" th:field="*{description}"
                          rows="10" wrap="hard"></textarea>
                <label for="description" th:text="#{service.description}">Service description</label>
            <div style="color:red" th:if="${#fields.hasErrors('description')}"
                 th:text="#{service.description.error}">
                Description error
            </div>
            </p>

            <p class="w3-row w3-section">
                <input class="w3-input" type="text" id="cost" th:field="*{cost}">
                <label for="cost" th:text="#{service.cost}">Cost</label>
            <div style="color:red" th:if="${#fields.hasErrors('cost')}" th:text="#{service.cost.error}">Cost Error</div>
            </p>

            <button class="w3-button w3-round-xlarge w3-green" type="submit" th:text="#{button.save}">Save</button>
        </form>
    </div>
</div>
</body>
</html>